.form-area {
    margin-top: 2em;
}

.check-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    margin-bottom: 1em;
    padding: 1em;
}

.form-group {
    border: 1px solid #EBEBEB;
    background-color: white;
    padding: 2em;
    margin: 1em;
}

.submit {
    float: right;
}