.thread {
    display: flex;
    flex-direction: column;
    border: 3px #0099ff solid;
    border-radius: 5px;
    color: white;
    background-color: #404040;
    width: 40%;
    max-width: 70ch;
    margin: 10px;
}

.title {
    margin: 5px;
    padding: 5px;
    background-color: #707070;
    border-bottom: 2px #cccccc solid;
    font-size: 24px;
    font-weight: bold;
}
