div.output{
	border: 1px	solid #bbbbbb;
	background-color: #eeeeee;
	padding: 5px;
}

div.debug{
	border: 1px	solid #bbbbbb;
	background-color: #eeeeee;
	font-family: monospace;
	word-wrap: break-word;
	padding: 5px;
}

div.page{
	margin: 10px;
}

p.visualization{
	margin: 5px;
}

p.debug{
	margin: 5px;
}

p{
	margin-bottom: 0px;
}

h1{
	font-family: sans-serif;
}

.v-3{
	background-color: #FF8888;
}

.v-2{
	background-color: #FFaaaa;
}

.v-1{
	background-color: #FFcccc;
}

.v-0{
	background-color: #FFFFFF;
}

.v1{
	background-color: #CCFFCC;
}

.v2{
	background-color: #AAFFAA;
}

.v3{
	background-color: #88ff88;
}

.a-3{
	font-size: 50%;
}

.a-2{
	font-size: 70%;
}

.a-1{
	font-size: 85%;
}

.a-0{
	font-size: 100%;
}

.a1{
	font-size: 125%;
}

.a2{
	font-size: 150%;
}

.a3{
	font-size: 200%;
}