.message-box {
    margin: 1em 0px 10px 0px;
    padding: 1em 1em 0.5em 1em;
    background-color: white;
    border-radius: 6px;
    font-size: 16px;
    filter: drop-shadow(0px 4px 6px #DFDFDF);
    line-height: 1.6;
}

.message .line-break {
    min-height: 1ch;
}
.response {
    background-color: white;
}

.message-box .content {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

/* Sidebar styles based on message valence (neutral, negative, positive) */
.message-box.sidebar {
    border-right: 1em solid #787878;
}

.message-box.message-valence-1.sidebar {
    border-right: 1em solid #BD3E3E;
}

.message-box.message-valence1.sidebar {
    border-right: 1em solid #91D691;
}
