.user-selection {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;

    font-size: 1.5em;
    height: 8em;
    margin-top: 40px;
    max-width: 50ch;
    padding: 1em;

    background-color: white;
    border-radius: 6px;
    filter: drop-shadow(0px 4px 6px #DFDFDF);

}

.MuiInputBase-input.MuiInput-input {
    margin-top: 1.5em;
    background-color: #EBEBEB;
    border-radius: 6px;
    padding: 0.5em;
}

.MuiInputBase-input.MuiInput-input:focus-visible {
    outline: 3px solid #9999FF;
}