.message-box {
    margin: 3px 0px 10px 20px;
    padding: 3px;
    background-color: #bdf;
    border: 3px white solid;
    border-radius: 10px;
    font-size: 18px;
}

.metadata {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: #70f040;
    margin-bottom: 10px;
    padding: 3px;
    border-radius: 5px;
}

.date {
    font-size: 12px;
    color: #333;
}

.response {
    background-color: #add;
}


