<!-- templates/index.html -->
<html>
  <head>
    <title>Demo</title>
	<link rel="stylesheet" href="static/style.css">
	<script src="/static/classifier.js"></script>
	<title>App for emotional word spotting</title>
  </head>
  <body>
  <div class="page">
  <h1>EMODIM tunnesanaluokittelijademo</h1>
  <p>Kirjoita tekstisi tähän ja paina sitten alla olevaa nappia.</p>
    <textarea id="inputarea" name="inputarea" rows="10" cols="80">Ihana mutta hylkäyksen pelkoa aiheuttava rakkaus ja autuus tuhoaa minut täällä.</textarea>
	<br><button onclick="analyzeClicked()" >analysoi</button>
<!--	<p>{{message}}</p>-->

	<p>Analyysituloksen visualisointi:</p>
	<div class="output" id="outputdiv" name="outputdiv">
	<p id="outputparagraph" class="visualization"> 
<!--	Analyysitulos ilmestyy tähän.<br>
	<span class="v-3">hello!</span>
	<span class="v-2">hello!</span>
	<span class="v-1">hello!</span>
	<span class="v0">hello!</span>
	<span class="v1">hello!</span>
	<span class="v2">hello!</span>
	<span class="v3">hello!</span>-->
	</p>	
	</div>
	
	<p>Analyysitulos raakana:</p>
	<div class="debug" id="debugdiv" name="debugdiv">
	<p id="debugparagraph" class="debug">	</p>
	</div>
	</div>
  </body>
</html>