.thread {
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
    padding: 0 1em 1em 1em;
    height: 100%;
    min-height: 100vh;
    max-width: 70ch;
}

.title {
    padding: 0.5em;
    background-color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1em;
}
