.thread-changer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}

.thread-changer button {
    margin: 10px;
    background-color: #404040;
    color: white;
    border: 0;
}
