div .loading-icon {
    animation-duration: 1.5s;
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-size: 25px;
    margin: 40px 15vw;
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.analysis-report {
    display: flex;
    align-self: flex-end;
}

.MuiPaper-root.MuiDialog-paper {
    max-width: 70ch;
    width: fit-content;
}

.MuiDialogTitle-root  {
    display: flex;
    justify-content: space-between;
}

.MuiPaper-root .MuiDialogContent-root {
    background-color: #F3F3F3;
}

.MuiDialogActions-root {

}