div .loading-icon {
    animation-duration: 1.5s;
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: black;
    font-size: 25px;
    margin: 20px 15vw;
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(360deg);
    }
}
