div .loading-icon {
    animation-duration: 1.5s;
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: white;
    font-size: 25px;
    margin: 40px 15vw;
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.analysis-report button {
    margin: 10px;
    background-color: #404040;
    color: white;
    border: 0;
}

.MuiPaper-root.MuiDialog-paper {
    min-width: 40%;
    max-width: 60%;
    width: fit-content;
    color: aqua;
    background-color: #202020;
}

.MuiDialogTitle-root {
    background-color: 202020;
    color: white;
}

.MuiDialogContent-root {
    display: flex;
    background-color: #404040;
    color: white;
    justify-content: center;
}

.MuiDialogActions-root {
    background-color: #202020;
}

.MuiDialogActions-root button{
    background-color: #404040;
    color: white;
}
