.thread-start .message-box {
    margin: 0;
    border: 0;
}

.comments {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 3px solid #B7B7B7;
}

.replies {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 3px solid #B7B7B7;
}

.response-section {
    display: flex;
    flex-flow: column;
}

.author {
    font-weight: bold;
}