.valence-3,
.valence-2,
.valence-1,
.valence1,
.valence2,
.valence3 {
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: -2px;
    margin-right: -2px;
}

.valence-3 {
    background-color: rgba(255, 0, 0, 0.6);
}
.valence-2 {
    background-color: rgba(255, 0, 0, 0.4);
}
.valence-1 {
    background-color: rgba(255, 0, 0, 0.2);
}

.valence1 {
    background-color: rgba(0, 255, 0, 0.2);
}
.valence2 {
    background-color: rgba(0, 255, 0, 0.4);
}
.valence3 {
    background-color: rgba(0, 255, 0, 0.6);
}

.arousal0 {
    font-size: 14px;
    /* font-weight: 200; */
}

.arousal1 {
    font-size: 16px;
    /* font-weight: 200 */
}

.arousal2 {
    font-size: 18px;
    /* font-weight: 500 */
}

.arousal3 {
    font-size: 22px;
    /* font-weight: 700; */
}
