.message-box {
    margin: 3px 0px 10px 20px;
    padding: 3px;
    background-color: #202020;
    border-bottom: 2px black solid;
    font-size: 18px;
}

.metadata {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: #404040;
    margin-bottom: 10px;
    padding: 3px;
    border-bottom: 2px #0099ff solid;
    border-radius: 2px;
}

.date {
    font-size: 12px;
    color: #cccccc;
}

.response {
    background-color: #303030;
    border-left: solid 1px #0099ff;
    border-bottom: solid 1px #0099ff;
}

.valence-3 {
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: -2px;
    margin-right: -2px;
}
.valence-2 {
    background-color: rgba(255, 0, 0, 0.4);
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: -2px;
    margin-right: -2px;
}
.valence-1 {
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: -2px;
    margin-right: -2px;
}

.valence1 {
    background-color: rgba(0, 255, 0, 0.2);
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: -2px;
    margin-right: -2px;
}
.valence2 {
    background-color: rgba(0, 255, 0, 0.4);
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: -2px;
    margin-right: -2px;
}
.valence3 {
    background-color: rgba(0, 255, 0, 0.6);
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: -2px;
    margin-right: -2px;
}


.arousal0 {
    font-size: 18px;
    /* font-weight: 200; */
}

.arousal1 {
    font-size: 20px;
    /* font-weight: 200 */
}

.arousal2 {
    font-size: 22px;
    /* font-weight: 500 */
}

.arousal3 {
    font-size: 24px;
    /* font-weight: 700; */
}
